* {
    border-radius: 0px !important
}
#scrap-property {
    padding-top: 70px
}
#propertyResults {
    margin-top: 10px
}
#loader {
    margin-top: 20px
}
#loader img {
    width: 40px;
    height: auto
}
.panel-footer span {
    position: relative;
    top: 6px
}
